.inner {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  }

  .content {
    max-width: 480px;
    margin-right: calc(var(--mantine-spacing-xl) * 3);
  }
  

  .title {
    color: #BAB86C;
    width: 110%;
    line-height: 120%;
    font-family: 'FredokaOne';
   
  }

  .image {
    width: 376px;
    height: 356px;
  }

  .highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: 4px 12px;
  }
  
@media(max-width: 992px){
.content {
  max-width: 100%;
  margin-right: 0;
}
.image{display: none;}

.control{flex: 1;}

.title{font-size: 28px;}
}