
  .container{
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    right: 0px;
    padding: 20px;
  }

  .form {  
    max-width: 455px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
    margin: 0 auto;
  }

  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }

  .image {
    max-width: 746px;
    height: 691px;
    margin-left: 5px;
    gap: 20px;
  }
  @media (max-width: 992px) {
    .image {
      display: none !important;
    }
    .form {
      max-width: 100%;
    }

  }

  .button{
    background-color: #BDB76B !important;
  }
